body {
    font-family: Arial, sans-serif;
    margin: 0;
    border: 2px;
    border-color: black;
    background-color: aliceblue;
  }
  
  h1 {
    padding: 35px;
    text-align: center;
    margin: 0vh;
    height: 10vh;
    background-color: black;
    border-bottom: 3px solid transparent;
    font-size: 10vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px;
    border-color: black;
    color: rgb(229, 228, 237);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .input-group {
    display: flex;
    margin-bottom: 10px;
    text-decoration: solid;
   font-size: x-large; 
  }
  
  .input-group label {
    width: 140px;
  }
  
  .input-group input {
    width: 90px;
  }
  
  .result {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    
  }

  
